NAME=BOT-DC
AVATAR=https://images-ext-1.discordapp.net/external/YX5EJpuweTWlp7kBWLJ4qqZCLDAQ9jOvx3UrMbnKq6g/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1357548437046038538/29d65d53d02f795849f5c2a31116440c.png?format=webp&quality=lossless&width=160&height=160
TYPE=bot
MAIN=index.js
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools
START=
BUILD=